* {
  color: #e8e5da;
  background-color: #3a445d;
}

h5 {
  font-size: larger;
}

.list-group-item {
  background-color: #e7d285;
}

.lgi-table {
  background-color: #2c88ac;
}

.lgi-interior {
  background-color: #f0c425;
  color: #a730d6;
}

.lgi-table-interior {
  background-color: #3ae024;
  color: #306afc;
}

.side-bar {
  background-color: #545fdf;
  min-width: 200px;
}

.menu {
  background-color: #072c0900;
  color: #5042d4;
}

.menu-align {
  padding: 1%;
}

.btn-a {
  color: #101c9c;
  background-color: #e4802e;
}

.border-a {
  border: 1px solid #0a0809;
}

.border-a:hover {
  border: 1px solid #290f1f;
}

.btn-a:hover {
  background-color: #240919;
}

.btn-warn {
  background-color: #c7901a;
  color: #c99a1a;
  border: 1px solid #3d62c5;
}

.btn-warn:hover {
  background-color: #e0a72c;
  color: #194772;
  border: 1px solid #053744;
}

.form-control {
  background-color: #c5901f;
  color: #b8a018;
}

.minw100 {
  min-width: 75px;
}

.minw300 {
  min-width: 275px;
}

@media (min-width: 768px) {
  .side-bar {
    height: 100vh;
    padding-top: 1%;
  }
}