* {
  color: #4deee6;
  background-color: #a4aff5;
}

h5 {
  font-size: larger;
}

.list-group-item {
  background-color: #92c5f6;
}

.lgi-table {
  background-color: #92c5f6;
}

.lgi-interior {
  background-color: #92c5f6;
  color: #4deee6;
}

.lgi-table-interior {
  background-color: #92c5f6;
  color: #4deee6;
}

.side-bar {
  background-color: #92c5f6;
  min-width: 200px;
}

.menu {
  background-color: #f5e4a4;
  color: #4deee6;
}

.menu-align {
  padding: 1%;
}

.btn-a {
  color: #4deee6;
  background-color: #f5e4a4;
}

.border-a {
  border: 1px solid #302028;
}

.border-a:hover {
  border: 1px solid #290f1f;
}

.btn-a:hover {
  background-color: #f5e4a4;
}

.btn-warn {
  background-color: #92c5f6;
  color: #4deee6;
  border: 1px solid #3d62c5;
}

.btn-warn:hover {
  background-color: #92c5f6;
  color: #4deee6;
  border: 1px solid #053744;
}

.form-control {
  background-color: #92c5f6;
  color: #4deee6;
}

.minw100 {
  min-width: 75px;
}

.minw300 {
  min-width: 275px;
}

@media (min-width: 768px) {
  .side-bar {
    height: 100vh;
    padding-top: 1%;
  }
}